input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
    border-color: blue;
}
body{
    background-color: #e9f2f8;
}
.top-buffer { margin-top:3%; }
hr {
    margin: 30px -20px 20px;
    border: 0;
    border-top: 1px solid #c9c7c7;
}
.navLogo{
    width: 70px;
    height: 70px;
    background-size: cover;
    border: none;
}
.tableLabel {
    width: 40%;
}
.borderless td, .borderless th {
    border: none;
}
.verticalLine{
    border-left: 1px solid black;
    height: 100%;
}
.inputs{
    background-color: #e9f2f8;
    border-color: #d8d8d8;
    border-right-style: hidden;
    border-top-style: hidden;
    border-left-style: hidden;
    border-radius: 6px;
    margin-left: 5%;
    width: 80%;
    display: inline-block;
}
.denitionTable th {
    height: 1%;
    border: solid 0.1px;
    padding: 0;
}
.denitionTable input{
    width: 100%;
}
.denitionTable .tableInfo {
    border: none;
    padding: 0;
    text-align: center;
    font-size: 10px;
}
.answerTable td{
    padding: 0;
    font-size: 12px;
    padding-right: 15px;
}
.answerTable th{
    border-top: none;
}
#usertable tr:hover {
    background-color: lightgreen;
    cursor: pointer;
    color: white;
}
#headerid {
    pointer-events: none;
}